.game-dp
{
	width : 100%;
	height : 100%;
	border-radius : 3px; 
}
.dplabel
{
	margin : 5%;
	width : 90%;
	border-radius : 3px; 
	
}

.level1
{
	z-index : 5;
}

.myleft
{
	text-align : center;
}

.platformimg
{
	margin-top : 10px;
	max-width : 40px;
	float : right;
	/*height : 30px;*/
	/*width : 20px;*/
}

.plat
{

	background-color : #bba468;
	margin-left : 5px;
	font-size : 11px;
}

#vid-container
{
	text-align : center;
	width : auto;
	margin : 20%;
	margin-right : 24%; 
	margin-left : 24%; 
}

.you-overlay
{
	background-color : rgba(0,0,0,0.6);
	width : 100%;
	height : 100%;
	position : fixed;
	top : 0px;
	left : 0px;
	
	
}

.platform
{
	font-size : 15px;
	font-weight : 700;
	margin : 1px;
	margin-top : 5px;
	border : solid;
	border-width : 2px;
	border-radius : 10px;
}

#desmatter
{
	color : #5b0000;
}

#starvalue
{
	position : absolute;
	left : 34px;
	top : 101px; /*28 margin + calib35 +38 top button calib */
	color : white;
}

#gname
{
	margin-top : 50px;
	color : darkred;
	font-family : ubuntu;
	font-weight : 700;
	
	/*font-style : italic;*/
	font-size : 40px; 
}

.thumb
{
	display : inline-block;
	margin : -5px;
	margin-top : 14px; 
	float : none;
}

.info
{
	margin-top : -4px;
	font-weight : 100;
	font-family : ubuntu;
	font-size : 12 px;
	color : rgb(200,0,0);
}

.thumbs
{
	margin-left : 20px;
	margin-right : 20px;
	border-radius : 3px;
	overflow-x:scroll;
    overflow-y:hidden;
    white-space: nowrap;
	max-height : 214px;
	/*border : solid;*/
	background-color : white;
}

.ottab
{
	color : grey;
}

#intab
{
	color : darkred;
}
.esrb
{
	width : 100px; 
}

.playoverlay
{
	position : absolute;
	left : 44%;
	top : 37%;
	width : 15%;
}

.bigstar
{
	margin-top : 66px;/*28+38=66*/
	font-size : 50px;
}


.mypagemenu
{
	float : right;
}

