body
{
	background-color:darkred;
	min-width: 1200px;
}

.con-holder{
	/*background-color:rgba(255,255,255,0.8);*/
	max-width:80%;
	min-height:80%;
	margin: 100px auto;
	margin-top:50px;
	margin-bottom:20px;
	
	
}


span
{
	color:#5b0000;
}

body
{
	font-family : ubuntu;
	color : #5b0000;
}